<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">
    
    <!-- ##Properties place holder configuration## start  -->
    <!-- 
    	- Use environment feature to handle different steps (develop, test, production)
    	- When in web environment, JNDI properties will override local properties. 
    -->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
	  <property name="locations">
			<list>
				<value>classpath:conf/tesseract.properties</value>
			</list>
		</property>
	</bean> 
    <!-- ##Properties place holder configuration## end  -->
    
</beans>
