.dim-setting {
    margin: 100px auto;
    width: 700px;
    background-color: #ffffff;
}

/*头部区域*/
.dim-setting-head {
    height: 30px;
}
.dim-setting-head .classification {
    float: left;
    padding: 4px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #708ad4;
    font-family: "微软雅黑";
    border-radius: 5px;
    cursor: pointer
}
.dim-setting-head .classification-focus {
    background-color: #dee6f3;
    border: 2px solid #c7d9f1;
    border: 2px solid #c7d9f1;
    color: #528cd5
}

/*body区域*/
.dim-setting-body {
    margin-top: 20px;
}

/*普通维度*/
.dim-setting-body .dim-container-normal {
    display: block;
}
/*列名区域*/
.dim-container-normal .normal-column-names {
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #3398cc;
}
.normal-column-names li {
    float: left;
    width: 24%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
/*主要区域*/
.dim-container-normal .normal-main {
    margin-top: 20px;
}
.normal-main-box {
    margin-bottom: 10px;
}
.cube-name {
    float: left;
    width: 140px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #c5c5c5;
    padding: 0 5px;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.normal-cube-open {
    float: left;
    margin-top: 7px;
    width: 35px;
    height: 15px;
    background: url(../img/report-dim-set/normal-cube-open.png) no-repeat;
    cursor: pointer;
}
.normal-cube-close {
    float: left;
    margin-top: 5px;
    width: 25px;
    height: 15px;
    background: url(../img/report-dim-set/normal-cube-close.png) no-repeat;
    cursor: pointer;
}
.normal-relation-container {
    float: left;
    margin-top: 6px;
}
.normal-relation-box {
    height: 34px;
    position: relative;
}
.normal-broken-line {
    width: 18px;
    height: 34px;
    position: absolute;
    background: url(../img/report-dim-set/normal-broken-line.png) no-repeat;
    top: -19px;
    left: -18px;
}
.normal-relation-box-select-table {
    float: left;
    width: 130px;
    height: 24px;
}
.normal-relation-box-select-fields {
    float: left;
    width: 130px;
    height: 24px;
    border: 1px solid #3398cc;
}
.normal-relation-box .equal {
    float: left;
    margin-right: 10px;
}
.normal-relation-box .delete {
    float: left;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/delete.png) no-repeat;
    cursor: pointer;
}
.normal-relation-box .add {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/add.png) no-repeat;
    cursor: pointer;
}
.prompt {
    float: left;
    height: 15px;
}
.normal-error-msg {
    float: left;
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 12px;
}
/*时间维度*/
.first-part {
    height: 24px;
    line-height: 24px;
}
.first-part span {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.first-part select {
    float: left;
    width: 150px;
    height: 24px;
}
.straight-line {
    float: left;
    width: 35px;
    height: 25px;
    background: url(../img/report-dim-set/straight-line.png) no-repeat;
}
.dim-setting-body .dim-container-date {

}
.dim-container-date .date-column-names {
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #3398cc;
}
.date-column-names li {
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.date-column-names-main-table {
    width: 25%;
}
.date-column-names-setting {
    width: 75%;
}
.dim-container-date .date-main-box {
    margin-top: 10px;
}

.date-main-box .date-relation-normal {
    float: left;
    width: 486px;
    padding: 10px;
    border: 1px solid #5a9fa7;
    margin-bottom: 10px;
}

.date-relation-normal-two-part {
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
}
.date-relation-normal-two-part span {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.date-relation-normal-two-part select {
    float: left;
    width: 150px;
    height: 24px;
}
.date-relation-normal-two-part .equal {
    float: left;
    margin: 0 10px;
    font-size: 18px;
}
.date-relation-normal-three-part {
    margin-top: 10px;
}
.date-relation-normal-three-part-name {
    float: left;
    font-size: 12px;
    margin-right: 30px;
}
.date-relation-normal-three-part-box {
    float: left;
    width: 310px;
    padding: 10px;
    border: 1px solid #c5c5c5;
}
.date-relation-normal-three-part-box-date-format {
    float: left;
    height: 24px;
    margin-bottom: 5px;
    line-height: 24px;
}
.date-relation-normal-three-part-box-date-format span {
    float: left;
    width: 50px;
    font-size: 12px;
}
.date-relation-normal-three-part-box-date-format select {
    float: left;
    width: 150px;
    height: 24px;
    line-height: 24px;
}

.date-main-box .date-relation-owner {
    float: left;
    width: 486px;
    padding: 10px;
    border: 1px solid #5a9fa7;
}
.date-relation-owner-first-part {
    height: 24px;
    line-height: 24px;
}
.date-relation-owner-first-part span {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.date-relation-owner-first-part select {
    float: left;
    width: 150px;
    height: 24px;
}
.date-relation-owner-two-part {
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
}
.date-relation-owner-two-part span {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.date-relation-owner-two-part select {
    float: left;
    width: 90px;
    height: 24px;
    margin-right: 5px;
}
.date-error-msg {
    float: left;
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 12px;
}

/*回调维度*/
.dim-setting-body .dim-container-callback {

}
.dim-container-callback .callback-column-names {
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #3398cc;
}
.callback-column-names li {
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.callback-column-names-main-table {
    width: 25%;
}
.callback-column-names-setting {
    width: 75%;
}
.dim-container-callback .callback-main-box {
    margin-top: 20px;
}
.callback-cube-open {
    float: left;
    margin-top: 7px;
    width: 35px;
    height: 15px;
    background: url(../img/report-dim-set/normal-cube-open.png) no-repeat;
    cursor: pointer
}
.callback-cube-close {
    float: left;
    margin-top: 5px;
    width: 25px;
    height: 15px;
    background: url(../img/report-dim-set/normal-cube-close.png) no-repeat;
    cursor: pointer
}
.callback-relation-container {
    float: left;
    width: 400px;
}
.callback-relation-container .callback-relation-box {
    position: relative;
}
.callback-relation-box .callback-relation-content {
    float: left;
    margin-bottom: 10px;
    width: 486px;
    padding: 10px;
    border: 1px solid #5a9fa7;
}
.callback-relation-content-two-part {
    margin-top: 15px;
    height: 24px;
    line-height: 24px;
}
.callback-address-name {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.callback-address-input {
    float: left;
    width: 350px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    border-top-color: #aaaaaa;
    border-radius: 2px;
    outline: 0 none;
    font-size: 12px;
}
.callback-address-input:hover {
    border: 1px solid #a6a6a6;
    border-top-color: #808080;
}
.callback-address-input:focus {
    border: 1px solid #609ed2;
}
.callback-address-prompt {
    float: left;
    font-size: 12px;
    margin-left: 90px;
    color: #d7d7d7;
    font-weight: bold;
}
.callback-relation-content-three-part {
    float: left;
    margin-top: 10px;

}
.callback-cache-name {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
.callback-relation-content-three-part div {
    float: left;
    font-size: 12px;
}
.callback-cache-type-right-input {
    margin-right: 3px;
    vertical-align: middle;
}
.callback-cache-type-right-label {
    margin-right: 3px;
    vertical-align: middle;
}
.callback-cache-type-interval {
    width: 50px;
    height: 15px;
    margin: 0px 5px;
    border: 1px solid #d9d9d9;
    border-top-color: #aaaaaa;
    border-radius: 2px;
    outline: 0 none;
}
.callback-relation-box .delete {
    position: absolute;
    right: -130px;
    top: 143px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/delete.png) no-repeat;
    cursor: pointer
}
.callback-relation-box .add {
    position: absolute;
    right: -150px;
    top: 143px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/add.png) no-repeat;
    cursor: pointer
}
.callback-broken-line {
    width: 18px;
    height: 200px;
    position: absolute;
    background: url(../img/report-dim-set/callback-broken-line.png) no-repeat;
    top: -87%;
    left: -18px;
}
.callback-error-msg {
    float: left;
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 12px;
}

/*自定义维度*/
.dim-setting-body .dim-container-custom {
}
.dim-container-custom .custom-column-names {
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #3398cc;
}
.custom-column-names li {
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.custom-column-main-table {
    width: 25%
}
.custom-column-main-table-fields {
    width: 20%
}
.custom-column-create-dim {
    width: 55%
}
.dim-container-custom .custom-main {
    margin-top: 20px;
}
.custom-main-table-fields-box {
    float: left;
    width: 120px;
    height: 95px;
    border: 1px solid #c5c5c5;
    /*display: table;*/
    position: relative;
    overflow-y: auto;
}
.custom-main-table-fields-box ul {
    width: 120px;
    display: table-cell;
    height: 95px;
    vertical-align: middle;
    *position: absolute;
    *left: 50%;
    *top: 50%;
}
.custom-main-table-fields-box ul li {
    padding: 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px
}
.custom-main-table-fields-box ul li:hover {
    background-color: #e6e3e3;
    cursor: pointer;
}
.custom-create-new-dim-container {
    float: left;
    width: 360px;
}
.custom-create-new-dim-texts {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 94px;
    border: 1px solid #3398cc;
    position: relative;
}
.custom-create-new-dim-texts input {
    float: left;
    border: none;
    background: #f3f3f5;
    padding-left: 2%;
    width: 98%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.custom-create-new-dim-texts input:focus {
    border: none;
    outline: medium;
}
.custom-create-new-dim-texts textarea {
    float: left;
    border: none;
    padding-left: 2%;
    width: 97%;
    height: 40px;
    resize: none;
}
.custom-create-new-dim-texts textarea:focus {
    border: none;
    outline: medium;
}

.custom-create-new-dim-texts-right {
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 21px;
    height: 16px;
    background: url(../img/report-dim-set/sql-right.jpg) no-repeat;
}

.custom-create-new-dim-texts-wrong {
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 21px;
    height: 16px;
    background: url(../img/report-dim-set/sql-wrong.jpg) no-repeat;
}
.custom-create-new-dim-box {
    clear: both;
    width: 100%;
    height: 92px;
    position: relative;
}
.custom-create-new-dim-box .delete {
    position: absolute;
    right: -15px;
    top: 80px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/delete.png) no-repeat;
    cursor: pointer
}
.custom-create-new-dim-box .add {
    position: absolute;
    right: -35px;
    top: 80px;
    width: 15px;
    height: 15px;
    background: url(../img/report-dim-set/add.png) no-repeat;
    cursor: pointer
}
.custom-error-msg {
    float: left;
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 12px;
}
.ml-89 {
    margin-left: 89px;
}