.loading {
    background: url(../img/loading.gif) no-repeat center center;
}
.empty-data {
    color: #cccccc;
    padding: 5px 0;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zi-active {
    /*被激发元素的z-index*/
    z-index: 2000;
}
/* 3像素的圆角 */
.br-3 {
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    background: #ffffff;
}
/* 字母按钮 “X”、"+"、“∨”等 */
.text-btn {
    font-size: 20px;
    color: #33ccff;
    padding: 0 5px;
    cursor: pointer;
}
/* 字母符号小图标 + × C S E */
.icon-letter {
    cursor: pointer;
    width: 17px;
    height: 14px;
    line-height: 12px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    padding: 2px 0 1px;
    border-radius: 3px;
    background: #65b0fa;
    color: #ffffff;
    font-weight: normal;
}
.icon-letter:hover {
    background: #3e92e5;
}
.icon-letter-btn {
    width: auto;
    position: static;
    padding: 4px 4px;
}
.alert-icon {
    width: 280px;
    max-height: 100px;
    padding: 10px 0 10px 45px;
    background: no-repeat left center;
    overflow-y: auto;
}
.alert-warning {
    background-image: url(../img/warning.png);
}
.alert-error {
    background-image: url(../img/error.png);
}
.alert-success {
    background-image: url(../img/success.png);
}
.btn-small {
    border: 1px solid #bfbfbf;
    display: inline-block;
    padding: 4px 10px;
    margin: 5px auto;
    background-color: #ffffff;
    cursor: pointer;
}
.btn-small:hover {
    background-color: #888888;
    color: #f9f9f9;
}
.btn-small:active {
    background-color: #726e6e;
    box-shadow: inset 0px 1px 3px #383737, inset 0px 1px 0px #383737;
    color: #e4e3e3;
}
.btn-has-icon {
    display: inline-block;
    color: #747474;
    padding: 5px 5px 4px 26px;
    background: url(../img/btn-icons.png) no-repeat 4px -2px;
}
.btn-has-icon:hover {
    color: #4491c4;
}
.btn-has-icon:active {
    background-color: #deebf3;
}
.btn-report-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #747474;
    padding: 0 2px 2px 0;
    background: url(../img/btn-icons.png) no-repeat 4px -2px;
}
.btn-has-icon-copy {
    background-position: 4px -33px;
}
.btn-has-icon-edit {
    background-position: 0 -63px;
}
.btn-has-icon-delete {
    background-position: 0 -93px;
}
.btn-has-icon-new {
    background-position: 4px -152px;
}
.btn-has-icon-info {
    background-position: 4px -121px;
}
.btn-has-icon-data-sources {
    background-position: 4px -182px;
}
.btn-has-icon-drag {
    background-position: 0 -215px;
}
.btn-cavnas-icon-edit {
    background-position: 0 -65px;
}
.btn-cavnas-icon-delete {
    background-position: 0 -95px;
}
.con-common-line {
    height: 41px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d0d0d0;
}
.con-common-max-min {
    max-width: 900px;
    min-width: 700px;
    margin: 0 auto;
}
.con-common-line .btn-has-icon {
    margin-top: 10px;
}
/* 向上、向下的箭头 */
.icon-arrow {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-left: 1px solid #0066cc;
    border-bottom: 1px solid #0066cc;
}
.icon-arrow:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    border-left: 1px solid #0066cc;
    border-bottom: 1px solid #0066cc;
    margin: -3px 0px 0 2px;
}
.icon-arrow-down {
    transform: rotate(-45deg);
}
.icon-arrow-up {
    transform: rotate(135deg);
}
/* 版权信息 */
.foot {
    width: 90%;
    margin-left: 5%;
    /*border-top: 1px dashed #ddd;*/
    bottom: 0;
    line-height: 250%;
    color: #999999;
    min-height: 35px;
}

.biplt-radius {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #00a1cb;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.biplt-normal {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.biplt-radius-red {
    background-color: #e99586;
}
.biplt-del {}

.biplt-del > span {
    position: absolute;
    width: 12px;
    height: 4px;
    top: 6px;
    left: 2px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.biplt-del > span:after {
    content: "";
    width: 12px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

.biplt-add {}

.biplt-add > span {
    position: absolute;
    width: 12px;
    height: 4px;
    background: #fff;
    left: 2px;
    top: 6px;
}
.biplt-add > span:after {
    content: "";
    width: 4px;
    height: 12px;
    background: #fff;
    position: absolute;
    left: 4px;
    top: -4px;
}

.biplt-look {}

.biplt-look > span {
    height: 7px;
    width: 7px;
    background: transparent;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    border: 2px solid #00a1cb;
    position: absolute;
    left: 0;
    top: 0;
}
.biplt-look > span:after {
    content: "";
    width: 4px;
    height: 8px;
    background: #00a1cb;
    position: absolute;
    top: 6px;
    left: 7px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.biplt-start {}

.biplt-start > span {
    width: 0;
    height: 0;
    position: absolute;
    left: 6px;
    top: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 4px 4px 4px 7px;
}

.biplt-stop {}

.biplt-stop > span {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 5px;
    left: 5px;
    background: #fff;
}

.dialog-ok-cancel-box {
    position: absolute;
    bottom: 5px;
    right: 5px;
}