.table-fields-filter-list {
    width: 300px;
    height:300px;
    border: 1px solid #D0D0D0;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-left: 5px;
}

.table-fields-filter-list input {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}

.table-fields-filter-list label {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.fields-filter {
    color: #3C78A2;
    display: inline-block;
}

.fields-filter .ui-button-hover {
    background-color: white;
}