/**
 * 输入框
 */
.ui-input {
    position: relative;
    height: 20px;
    width: 160px;
    border: 1px solid #A9ADB6;
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
    white-space: nowrap;
}
.ui-input input, .ui-input textarea {
    margin: 0 3px;
    background-color: white;
    outline: 0;
    width: 100%;
    height: 100%;
    border: 0px solid white;
    line-height: 19px;
    font-size: 12px;
    resize: none;
    padding: 0px;
}
.ui-textarea {
    background-color: white;
    height: 5em;
    width: 200px;
    padding: 2px 4px;
    white-space: normal;
    word-wrap: break-word;
}
.ui-input textarea {
    *position: absolute;
} /* Hack IE6/7下 textarea高度设置100%...原因未知... */
.ui-input-tip, 
.ui-textarea-tip{
    position: absolute;
    top: 1px;
    left: 3px;
    line-height: 18px;
    color: #CCC;
}
.ui-input-error {
    border: 1px solid #DD4B39;
}
.ui-textarea-tip {
    position: absolute;
    top: 1px;
    left: 3px;
    line-height: 18px;
    color: #AAA;
    font-size: 12px;
}
.ui-textarea-count {
    margin-top: 4px;
    float: right;
    vertical-align: middle;
    font-size: 12px;
    color: #888;
}
.ui-textarea-count-overflow {
    font-size: 12px;
    color: red;
}
.ui-input-bar, .ui-textarea-bar {
    overflow: hidden;
}
.ui-input-prompt, .ui-textarea-prompt {
    margin-top: 4px;
    float: left;
    vertical-align: middle;
    font-size: 12px;
    color: red;
    margin-left: 3px;
}
.ui-input-error, .ui-textarea-error {
    border: 1px solid #DD4B39;
}