/**
 * di-ui.css
 * Copyright 2012 Baidu Inc. All rights reserved.
 *
 * @file:    data insight 公用（包括console和product等公用）
 *           data insight UI
 * @author:  xxx(xxx)
 */

.di-table-prompt {
    font-size: 12px;
    color: #888;
    padding: 3px 0px 0px 10px;
    overflow: hidden;
    line-height: 18px;
}
.di-table-count {
    float: left;
    line-height: 18px;            
    vertical-align: middle;
    width: auto;
}
.di-table-count-num {
    font-size: 14px;
    color: #4289D4;
    font-weight: bold;
    font-family: Arial;
}
.di-table-prompt-sel {
    float: right;
    line-height: 18px;            
    vertical-align: middle;
}
.di-table-down {
    width: 140px;
    float: left;
}
.di-table-down-text {
    float: left;
    width: 100px;
}
.di-table-down-btn {
    float: left;
}