ul,input,div,span{
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

.ui-reportSave-save {
    position: relative;
    font-family: arial, "宋体";
    font-size: 12px;
    z-index: 99
}

/*报讯-保存按钮*/
.ui-reportSave-save-saveButton {
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #0083D7;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    -ms-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}
.ui-reportSave-save-saveButton-hover {
    background: #4E9AE0
}

/*保存-ul选项*/
.ui-reportSave-save-operateButtons {
    width: 140px;
    border: 1px solid #ddd;
    position: absolute;
    top: 25px;
    left: -1px;
    background: white;
    z-index: 199
}

/*保存-ul中li*/
.ui-reportSave-save-operateButtons li {
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    cursor: pointer
}

/*保存-ul中li伪类*/
.ui-reportSave-save-operateButtons li:hover {
    background: #1889d2;
    color: #FFFFFF
}


.ui-reportSave-tab {
    height: 27px;
    font-family: arial, "宋体";
    font-size: 12px;
    
}

.ui-reportSave-tab-tabNormal {
    float: left;
    position: relative;
    height: 27px;
    margin-right: 5px;
    padding: 0 30px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    background-color: #E3E1DD
}

.ui-reportSave-tab-tabNormal > span {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-reportSave-tab-close {
    float: right;
    position: absolute;
    text-decoration: none;
    height: 18px;
    width: 18px;
    line-height: 18px;
    top: 0px;
    right: 0px;
    color: #333;
    font-size: 18px;
    font-family: arial, "宋体"
}

.ui-reportSave-tab-close:hover {
    color: white;      
    font-weight:bold;      
    /* font-size:22px; */
    border: 1px solid rgb(252, 244, 244);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    background: rgb(223, 149, 134);
}

.ui-reportSave-tab-tabFocus {
    background: -moz-linear-gradient(#5581E5, #4770C7);
    background: -webkit-linear-gradient(#5581E5, #4770C7);
    background: -o-linear-gradient(#5581E5, #4770C7);
    background: -ms-linear-gradient(#5581E5, #4770C7);
    background: linear-gradient(#5581E5, #4770C7);
    background: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5581E5', endColorstr='#4770C7',GradientType=0 );
    background-color: #5076DD;
    color: #fff
}

.ui-reportSave-tab-close-focus {
    color: #fff
}

.ui-reportSave-save-dialog-form-item {
    height: 35px;
    margin-bottom: 5px;
}
.ui-reportSave-save-dialog-form-item label {
    float: left;
    width: 65px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    font-size: 14px
}
.ui-reportSave-save-dialog-form-item input {
    float: left;
    width: 248px;
    height: 25px;
    line-height: 25px;
    border: 1px #4791ff solid
}
.ui-reportSave-save-dialog-form-error {
    height: 15px;
    margin-bottom: 5px;
    line-height: 15px;
    padding-left: 75px;
    color: red;
}

.ui-form-body div{
    font-family: arial, "宋体";
    font-size: 12px;
}
