/** 
 * select控件
 */
.ui-select {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #A8ADB6;
    background: #FFF;
    width: 95%;
    *display: inline;
    zoom: 1;
}
.ui-select-text {
    white-space: nowrap;
    display: block;
    padding-left: 4px;
    line-height: 18px;
    border-top: 1px solid #F0F0F0;
    cursor: default;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-select-button {
    background: url(img/icon2.png) -16px -64px no-repeat;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
}
.ui-select-hover .ui-select-button {
    background-position: 4px -64px;
}
.ui-select-options {
    border: 1px solid #A8ADB6;
    background: #FFF;
    font-size: 12px;
}
.ui-select-item {
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    cursor: default;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ui-select-item-hover,
.ui-select-item-focus {
    background: #E4EAFA;
}

/**
 * multi select
 */
.ui-multi-select {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #A8ADB6;
    background: #FFF;
    width: 95%;
    *display: inline;
    zoom: 1;
}
.ui-multi-select-text {
    white-space: nowrap;
    display: block;
    padding-left: 4px;
    line-height: 18px;
    border-top: 1px solid #F0F0F0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-multi-select-button {
    background: url(img/icon2.png) -16px -64px no-repeat;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
}
.ui-multi-select-hover .ui-multi-select-button {
    background-position: 4px -64px;
}
.ui-multi-select-options {
    border: 1px solid #A8ADB6;
    background: #FFF;
}
.ui-multi-select-item {
    position: relative;
    white-space: nowrap;
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    cursor: default;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ui-multi-select-item-icon {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 3px;
    margin: 0 3px;
    width: 13px;
    height: 13px;
    background: url(img/ecui.png) 0 0 no-repeat;
    overflow: hidden;
}
.ui-multi-select-item-hover .ui-multi-select-item-icon {
    background-position: -17px 0;
}
.ui-multi-select-item-selected .ui-multi-select-item-icon {
    background-position: -34px 0;
}
.ui-multi-select-item-selected-hover .ui-multi-select-item-icon {
    background-position: -51px 0;
}
.ui-multi-select-item-hover,
.ui-multi-select-item-focus {
    background: #E4EAFA;
}

.ui-multi-select-selectall {
    background: white;
    z-index: 99
}
